{% extends "admin/core/base.html" %}

{% load static bool_fa securitytags %}

{% block title %}Back Content Submission - Add Authors{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'bc_index' %}">Back Content Plugin</a></li>
    <li>{{ article.safe_title }}</li>
{% endblock breadcrumbs %}

{% block body %}
{% can_see_pii_tag article as can_see_pii %}
<section class="content">
    <div class="row expanded">
        <div class="large-12 columns box">
            <div class="title-area">
                <h2 id="edit-metadata-authors">Article Authors</h2>
            </div>
            <div class="content" data-equalizer data-equalize-on="medium">
                <div class="large-4 columns" data-equalizer-watch>
                    <p>{% trans "You can add an author by clicking the button below. This will open a popup modal for you to complete their details. If you do not have a legitimate email address for this author use @journal.com as a prefix for their email address and Janeway will ignore it." %}</p>
                    <a href="#" data-open="author" class="small success button">{% trans "Add New Author" %}</a>
                    {% include "back_content/elements/add_new_author.html" %}
                    <p>{% trans "If you know of an existing author, you can search for them." %}</p>
                    <a href="{% url 'bc_article_authors' article.pk %}" class="small success button">Search Accounts for Authors</a>

                </div>
                <div class="large-8 columns" data-equalizer-watch>
                    <h4>{% trans "Current Authors" %}</h4>
                    {% include "elements/current_authors.html" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% include "back_content/elements/add_new_author.html" %}
{% endblock body %}

{% block js %}
    {% if modal %}
        {% include "admin/elements/open_modal.html" with target=modal %}
    {% endif %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="{% static "admin/js/csrf.js" %}"></script>
    <script>
        $( "#sortable" ).sortable({
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                console.log(data);
                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'POST',
                    url: '{% url 'order_authors' article.pk %}'
                });
            }
        });
        $( "#sortable" ).disableSelection();
    </script>
{% endblock js %}

