{% load files %}

<table id="files" class="small files">
    <thead>
    <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Filename</th>
        <th>Type</th>
        {% if is_galley %}<th>Public</th>{% endif %}
        <th>Uploaded</th>
        <th>Modified</th>
        <th>Download</th>
        <th>History</th>
        <th>Replace</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for i in items %}
        {% can_edit_file file article as can_edit_file_flag %}
        {% can_view_file file as can_view_file_flag %}
        {% can_view_file_history file article as can_view_file_history_flag %}
        <tr>
            <td>{{ file.pk }}</td>
            <td class="wrap-long-text">{% if not file.label %}No Label{% endif %}{{ file.label }}</td>
            <td class="wrap-long-text">{{ file }}</td>
            <td>{% file_type article file %}</td>
            {% if is_galley %}<td>{{ i.public|bool_fa }}</td>{% endif %}
            <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
            <td>{{ file.last_modified|date:"Y-m-d G:i" }}</td>
            <td>{% if can_view_file_flag %}
                <a href="{% url 'article_file_download' 'id' article.pk file.pk %}"><i
                        class="fa fa-download">
                    &nbsp;</i></a>{% endif %}</td>
            <td>{% if can_view_file_history_flag %}
                <a href="{% url 'file_history' article.pk file.pk %}?return={{ request.path|urlencode }}"><i
                        class="fa fa-history">
                    &nbsp;</i></a>{% endif %}
            </td>
            <td>{% if can_edit_file_flag %}
                <a href="{% url 'article_file_replace' 'id' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i
                        class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}</td>
            <td>{% if can_edit_file_flag %}
                <a href="{% url 'file_delete' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i
                        class="fa fa-trash">
                    &nbsp;</i></a>{% endif %}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="9">No files have been uploaded.</td>
        </tr>
    {% endfor %}
</tbody>
</table>
